h1{
    text-align: left;
    font-size: 40px;
}

.gameboard {
    width: 450px;
    height:510px;
    border:3px solid white;
    margin: 50px 0px auto;
    z-index: 1;
}


.box {
    
    width: 60px;
    height: 60px;
    border: 1px solid black;
    float:left;
    cursor: pointer;
}

.red{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 100%;
}

.blue{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 100%;
}
    
         

    

