h1{
    text-align: left;
    font-size: 40px;
}

.gameboard {
    background-color: blue;
    text-align: center;
    display: inline-block;
}



table {
  align-self: center;   
  border-radius:60px;
  border-left: 80px solid blue;
  border-bottom:80px solid blue;
  border-right: 80px solid blue;
 
}
td {
  border: 5px solid black;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 8em;
  border-radius: 150px;
  background-color: #C1C5CA;
}

.red{
    background-color: red;
    border-radius: 100%;
}

.blue{
    background-color: blue;
    border-radius: 100%;
}
    
         

    

