h1{
    text-align: left;
    font-size: 40px;
}

.gameboard {
    background-color: #0000ff;
    text-align: center;
    display: inline-block;
}



table {
  align-self: center;   
  border-radius:60px;
  border-left: 10px #0000ff;
  border-bottom:10px #0000ff;
  border-right: 10px #0000ff;
 
}
td {
  border: 1px solid white;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 8em;
  border-radius: 150px;
  background-color: white;
}

.red{
    background-color: red;
    border-radius: 100%;
}

.yellow{
    background-color: yellow;
    border-radius: 100%;
}
    
         

    

